/.vs/
/Debug/
/Release/
/repository/
/sdmm-cppcheck-build-dir/
/src/main.aps
/src/main.vcxproj.user
/setup/Output/mm_setup.exe
/setup/log.txt
/SD MM.sdf
/SD MM.VC.db
/setup/mm_release_files_old/
/setup/Output/*
/setup/to_archive/*
/src/vcpkg_installed/
/compileData.scor*
/StructLayoutSettings.json
/CompileScoreSettings.json
