// SD Mod Manager

// Copyright (c) 2020 Aliaksei Karalenka <sydr1991@gmail.com>.
// Licensed under the MIT License <http://opensource.org/licenses/MIT>.

MainMMIcon ICON "../icons/main-icon.ico"

#define wxUSE_NO_MANIFEST 0

#include <wx/msw/wx.rc>

#include "version.hpp"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION PROGRAM_VERSION_MAJOR,PROGRAM_VERSION_MINOR,PROGRAM_VERSION_PATCH,0
 PRODUCTVERSION PROGRAM_VERSION_MAJOR,PROGRAM_VERSION_MINOR,PROGRAM_VERSION_PATCH,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "FileDescription", PROGRAM_NAME
            VALUE "FileVersion", PROGRAM_VERSION_BASE
            VALUE "InternalName", "main.exe"
            VALUE "LegalCopyright", "Copyright (c) 2020-2024 Aliaksei Karalenka"
            VALUE "OriginalFilename", "main.exe"
            VALUE "ProductName", PROGRAM_NAME
            VALUE "ProductVersion", PROGRAM_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
/////////////////////////////////////////////////////////////////////////////
